.DoctorAppointments-data {
  width: 80%;
}
.DoctorAppointments-data h2 {
  margin-left: 36px;
  margin-bottom: 25px;
}
.DoctorAppointments {
  display: flex;
  justify-content: space-between;
}
.tow-part-container {
  display: flex;
  justify-content: space-evenly;
}
.left-side {
  flex-basis: 30%;
}
.right-side {
  flex-basis: 30%;
}
