.primaryBtn {
  /* width: 12rem; */
  padding: 0.6rem;
  font-size: 1rem;
  color: white;
  background-image: linear-gradient(to right, #1befdef5, #18d0e7f5);
  border: none;
  margin: 5px 0px;
  outline: none;
  cursor: pointer;
}
